@import "../../node_modules/vuetify/src/stylus/settings/_colors.styl"

$theme := {
  primary: $blue.base
  accent: $blue.accent-2
  secondary: $red.base
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}

@import "../../node_modules/vuetify/src/stylus/main.styl"

body
    background-color: #f5f5f5 !important

.toolbar
    .search
        max-width: 600px
        margin: 0 auto
    .toolbar__title
        flex: none
    .name
        color: #fff
        font-weight: bold
        padding: 0 10px


.content
    max-width: 960px
    margin: 0 auto
    padding: 1em
    background: none
